NODE_ENV=development
PORT=3005
MONGO_URI=mongodb://localhost:27017/voting-app

JWT_SECRET=your-secret-key-here

SMTP_EMAIL=your-email@gmail.com
SMTP_PASSWORD=your-16-char-gmail-app-password
FROM_NAME=SecureVote

REDIS_URL=redis://localhost:6379

CLIENT_URL=http://localhost:5173

AWS_ACCESS_KEY_ID=your-aws-key
AWS_SECRET_ACCESS_KEY=your-aws-secret
AWS_REGION=us-east-1
